<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <!-- Load Mapbox-gl JavaScript and CSS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kfcstores/style.css' %}">
    <title>KFC store information</title>
</head>

<body class="bg-image">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-brand" href="#">
                    <img src="{% static 'kfcstores/images/kfc_logo.png' %}" width="50" height="30" class="d-inline-block align-top" alt="">
                                                              KFC
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav nav-item active">
                            <a class="nav-link" href="/kfcstores/?page=1">
                                <i class="fa fa-home icon-space"></i>Home 
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/kfcstores/maps/">
                                <i class="fa fa-map-marker-alt icon-space" aria-hidden="true"></i>Maps</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-envelope icon-space"></i>Contact
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-user icon-space"></i>Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid top-margin">
        <h1 class="text-danger text-center"><b>{{store.storename}} store information</b></h1>
        <div class="row">
            <div class="col-sm">
                <table class="table table-bordered table-condensed bg-light">
                    <tbody>
                        <tr>
                            <td>Store name</td>
                            <td>{{store.storename}}</td>                            
                        </tr>
                        <tr>
                            <td>Latitude</td>
                            <td id="latitude">{{store.latitude}}</td>
                        </tr>
                        <tr>
                            <td>Longitude</td>
                            <td id="longitude">{{store.longitude}}</td>                            
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{store.storeaddress}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{store.storephone}}</td>                            
                        </tr>
                        <tr>
                            <td>Weekday open</td>
                            <td>{{store.weekdayopen}}</td>
                        </tr>
                        <tr>
                            <td>Weekday close</td>
                            <td>{{store.weekdayclose}}</td>                            
                        </tr>
                        <tr>
                            <td>Weekend open</td>
                            <td>{{store.weekendopen}}</td>
                        </tr>
                        <tr>
                            <td>Weekend open</td>
                            <td>{{store.weekendclose}}</td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <div id="map"></div>
                <pre id="coordinates" class="coordinates">
                    <br />Longitude: {{store.longitude}}<br />Latitude: {{store.latitude}}
                </pre>
            </div>
        </div>
        
    </div>   
    
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2hlZWxpYW5nIiwiYSI6ImNqczlzaHo4dzEzZWQ0M29rZXJwbWExenUifQ.SoO2FnxyRgyVyJ0KX61FjA';
        var latitude = document.getElementById("latitude").innerHTML;
        var longitude = document.getElementById("longitude").innerHTML;
        var kfcLocation = {lat: latitude, lng: longitude};

        var map = new mapboxgl.Map({
            container: 'map', //container id
            style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
            center: kfcLocation, //starting position [lng, lat]
            zoom: 18 //starting zoom
        });

        

        map.on('load', function(){
            var marker = new mapboxgl.Marker({}).setLngLat([longitude, latitude]).addTo(map);
        });
    </script>
    
</body>

</html>