<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kfcstores/style.css' %}">
    <title>KFC store information</title>
</head>

<body class="bg-image">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="navbar-brand" href="#">
                <img src="{% static 'kfcstores/images/kfc_logo.png' %}" width="50" height="30" class="d-inline-block align-top" alt="">
                                          KFC
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/kfcstores/?page=1">
                            <i class="fa fa-home icon-space"></i>Home 
                                    <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-envelope icon-space"></i>Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-user icon-space"></i>Login
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="text-center top-margin">
        <h1 class="color-heading"><b>{{store.storename}} store information</b></h1>
    </div>
    <div class="container table-responsive">
        <table class="table table-bordered table-condensed bg-light">
            <tbody>
                <tr>
                    <td>Store name</td>
                    <td>{{store.storename}}</td>
                </tr>
                <tr>
                    <td>Latitude</td>
                    <td>{{store.latitude}}</td>
                </tr>
                <tr>
                    <td>Longitude</td>
                    <td>{{store.longitude}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{store.storeaddress}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{store.storephone}}</td>
                </tr>
                <tr>
                    <td>Weekday open</td>
                    <td>{{store.weekdayopen}}</td>
                </tr>
                <tr>
                    <td>Weekday close</td>
                    <td>{{store.weekdayclose}}</td>
                </tr>
                <tr>
                    <td>Weekend open</td>
                    <td>{{store.weekendopen}}</td>
                </tr>
                <tr>
                    <td>Weekend open</td>
                    <td>{{store.weekendclose}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>