<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kfcstores/style.css' %}">
    <title>KFC stores list</title>
</head>

<body class="bg-image">
    <div class="container space">
        <table class="table table-hover grey-background">
            <caption><b>List of available kfc stores.</b></caption>
            <thead class="thead-dark">
                <tr>
                    <th>Store Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for store in stores %}
                <tr>
                    <td><a href="{% url 'kfcstores:detail' store.storeid %}">{{store.storename}}</a></td>
                    <td>{{store.storeaddress}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <ul class="pagination">
            {% if stores.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ stores.previous_page_number }}">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                </li>
            {% else %}
                <li class="disabled page-item">
                    <a class="page-link"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></a>
                </li>
            {% endif %}
            
            {% if stores.number|add:'-4' > 1 %}
                <li class="page-item"><a class="page-link" href="?page={{ stores.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}
            
            {% for i in stores.paginator.page_range %}
                {% if stores.number == i %}
                    <li class="active page-item">
                        <a class="page-link" href="#"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                    </li>
                {% elif i > stores.number|add:'-5' and i < stores.number|add:'5' %} 
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if stores.paginator.num_pages > stores.number|add:'4' %}
                <li class="page-item"><a class="page-link" href="?page={{ stores.number|add:'5' }}">&hellip;</a></li>
            {% endif %}
            
            {% if stores.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ stores.next_page_number }}"><i class="fa fa-chevron-right"
                                    aria-hidden="true"></i></a>
                </li>
            {% else %}
                <li class="disabled page-item"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
            {% endif %}
            
        </ul>
    </div>
</body>

</html>
