<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <!-- Load Mapbox GL JavaScript and CSS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Load local CSS stylesheet -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'StoreTinder/style.css' %}">
    <title>Store Tinder</title>

    <style>
        #map {
            top: 80px;
            height: 600px;
        }
        #btnToggle {
            position: absolute;
            top: 27%;
            right: 2%;
            padding:5px 10px;
            margin: 0;
            font-size: 20px;
            display: none;
        }
        h1 {
            font-size: 22px;
            margin: 0;
            font-weight: 400;
            line-height: 20px;
            padding: 20px 2px;
            color: #f8f8f8;
        }
        a {
            color: #404040;
            text-decoration: none;
        }

        a:hover {
            color: #101010;
        }
        .sidebar {
            position: absolute;
            width: 20%;
            height: 600px;
            top: 12%;
            left: 1.1%;
            overflow: hidden;
            border-right: 1px solid rgba(0, 0, 0, 0.25);
        }

        .pad2 {
            padding: 20px;
        }
        .heading {
            border-bottom: 1px solid #eee;
            height: 60px;
            line-height: 60px;
            padding: 0 10px;
            margin: 0;
        }
        .listings {
            height: 100%;
            overflow: auto;
            padding-bottom: 60px;
            background-color: #f8f8f8;
        }
        .listings .item {
            display: block;
            border-bottom: 1px solid #eee;
            padding: 10px;
            text-decoration: none;
        }
        .listings .item:last-child { border-bottom: none; }

        .listings .item .title {
            display: block;
            color: #00853e;
            font-weight: 700;
        }

        .listings .item .title small { font-weight: 400; }

        .listings .item.active .title,
        .listings .item .title:hover { color: #8cc63f; }

        .listings .item.active {
            background-color: #f8f8f8;
        }

        ::-webkit-scrollbar {
            width: 3px;
            height: 3px;
            border-left: 0;
            background: rgba(0, 0, 0, 0.1);
        }

        ::-webkit-scrollbar-track {
            background: none;
        }

        ::-webkit-scrollbar-thumb {
            background: #00853e;
            border-radius: 0;
        }

        .clearfix { display: block; }

        .clearfix::after {
            content: '.';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .marker {
            display: block;
            border: none;
            cursor: pointer;
            padding: 0;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-brand" href="#">
                    <img src="{% static 'StoreTinder/images/tinder.png' %}" width="50" height="30" class="d-inline-block align-top" alt="">
                    <label class="label-padding">FastFood</label>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav nav-item active">
                            <a class="nav-link" href="#">
                                <i class="fa fa-home icon-space"></i>Home 
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'StoreTinder:create_store' %}">
                                <i class="fa fa-utensils icon-space"></i>Add Store
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-user icon-space"></i>Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div id="map"></div>
        <div class="sidebar">
            <div class="heading bg-primary">
                <h1>Stores locations</h1>
            </div>

            <div class="btn-group" role="group" aria-label="Basic example" style="width:100%;margin:0; padding:0;">
                <button type="button" id="all" class="btn btn-secondary">All</button>
                <button type="button" id="kfc" class="btn btn-secondary">KFC</button>
                <button type="button" id="mcdonald" class="btn btn-secondary">McDonald</button>
            </div>
            
            <div id="listings" class="listings"></div>
        </div>
        <button id="btnToggle" class="btn btn-primary active">Verified</button>
    </div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2hlZWxpYW5nIiwiYSI6ImNqczlzaHo4dzEzZWQ0M29rZXJwbWExenUifQ.SoO2FnxyRgyVyJ0KX61FjA';
        var buttonToggle = document.getElementById('btnToggle');
        var btnAll = document.getElementById("all");
        var btnKFC = document.getElementById("kfc");
        var btnMcD = document.getElementById("mcdonald");
        var store_source_list = [{"source": "KFC", "color": "#008CBA"}, {"source": "McDonald", "color": "#f44336"}];
        var listings = document.getElementById('listings');
        var centerLocation = {lng: 101.797304, lat: 2.814565};
        var map = new mapboxgl.Map({
            container: 'map', //container id
            style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
            center: centerLocation, //starting position [lng, lat]
            minZoom: 4,
            zoom: 8 //starting zoom
        }); 
            
        map.on('load', function() {
            buttonToggle.style.display = 'block';
            var markers = [];

            var geoJSONDataset = {};
            var geoJSONKFC = {};
            var geoJSONMcD = {};
            var geoJSONVerifiedKFC = {};
            var geoJSONUnVerifiedKFC = {};
            var geoJSONVerifiedMcD = {};
            var geoJSONUnverifiedMcD = {};
    
            function flyToStore(currentFeature){
                map.flyTo({
                    center: currentFeature["geometry"]["coordinates"],
                    zoom: 18
                });
            }

            function createPopUp(currentFeature){
                var url = "/StoreTinder/detail/" + currentFeature["properties"]["id"];
                var name = currentFeature["properties"]["title"];
                var address = currentFeature["properties"]["address"];
                var latitude = currentFeature["geometry"]["coordinates"][1];
                var longitude = currentFeature["geometry"]["coordinates"][0];

                var popUps = document.getElementsByClassName('mapboxgl-popup');
                // Check if there is already a popup on the map and if so, remove it
                if (popUps[0]) popUps[0].remove();

                var popUp = new mapboxgl.Popup({ offset:25 })
                    .setLngLat(currentFeature["geometry"]["coordinates"])
                    .setHTML('<h3>'+ name + '<a href="' + url + 
                            '" class="text-danger small" style="text-decoration:none;"> <small>(View More)</small></a></h3><p>Address: ' + 
                            address + '</p><p>Latitude: ' + latitude + 
                            '</p><p>Longitude: ' + longitude + '</p>')
                    .addTo(map);
            }

            function clearListings(){
                //Clear the listing contents.
                while(listings.firstChild){
                    listings.removeChild(listings.firstChild);
                }
            }

            function forwardGeocoder(query){
                var matchingFeatures = [];
                for(var i = 0; i < geoJSONDataset["features"].length; i++){
                    var feature = geoJSONDataset["features"][i];
                    // handle queries with different capitalization than the source data by calling toLowerCase()
                    if(feature["properties"]["title"].toLowerCase().search(query.toLowerCase()) != -1){
                        feature['id'] = feature["properties"]["id"];
                        feature['place_name'] = feature["properties"]["title"];
                        var coordinate = feature["geometry"]["coordinates"];
                        feature['center'] = coordinate;
                        feature['address'] = feature["properties"]["address"];
                        feature['place_type'] = ['Fast food restaurant'];
                        matchingFeatures.push(feature);
                    }
                }
                return matchingFeatures;
            }

            function createSpecificSourceOfData(currentFeature, source, flag, verify_status){
                var features = [];
                for(var i = 0; i < currentFeature.length; i++){
                    var feature = currentFeature[i];
                    var feature_source = feature["properties"]["source"];
                    var feature_verify_status = feature["properties"]["is_verified"];
                    if(feature_source == source){
                        if(flag){
                            if(feature_verify_status == verify_status){
                                features.push(feature);
                            }
                        }else{
                            features.push(feature);
                        }
                    }
                    else{
                        continue;
                    }
                }
                var featureCollection = {"type": "FeatureCollection", "features": features};
                return featureCollection;
            }

            function buildGeoJSONLocationList(dataset){
                if(dataset.length != 0){
                    for(var i = 0; i < dataset.length; i++){
                        var currentFeature = dataset[i];
                        var listing = listings.appendChild(document.createElement('div'));
                        listing.className = 'item';
                        listing.id = 'listing-' + i;
                        var link = listing.appendChild(document.createElement('a'));
                        link.href = '#';
                        link.className = 'title';
                        link.dataPosition = i;
                        link.innerHTML = currentFeature["properties"]["title"];
                        link.addEventListener('click', function(e){
                            var clickedListing = dataset[this.dataPosition];
                            flyToStore(clickedListing);
                            createPopUp(clickedListing);
                            // 3. Highlight listing in sidebar (and remove highlight for all other listings)
                            var activeLink = document.querySelector("#listings .active");
                            if(activeLink !== null){
                                activeLink.classList.remove("active");
                            }
                            this.parentNode.classList.add('active');
                        });
                        var link2 = listing.appendChild(document.createElement('a'));
                        var id = currentFeature["properties"]["id"];
                        link2.href = "/StoreTinder/detail/" + id;
                        link2.className = 'detail';
                        link2.classList.add('text-danger');
                        link2.style.textDecoration = 'none';
                        link2.id = id;
                        link2.innerHTML = "(View more)";

                        var addressText = listing.appendChild(document.createElement('p'));
                        addressText.innerHTML = currentFeature["properties"]["address"];
                    }
                }else{
                    var noDataPara = document.createElement('p');
                    var t = document.createTextNode("There is no available stores.");
                    noDataPara.appendChild(t);
                    noDataPara.style.padding = "10px";
                    listings.appendChild(noDataPara);
                }
            }

            function addCustomMarkersToMap(dataset){
                var mapMarkers = [];
                for(var i = 0; i < dataset.length; i++){
                    var currentFeature = dataset[i];
                    var url = "/StoreTinder/detail/" + currentFeature["properties"]["id"];
                    var lngLat = currentFeature["geometry"]["coordinates"];
                    var name = currentFeature["properties"]["title"];
                    var address = currentFeature["address"];

                    var el = document.createElement("div");
                    el.className = "marker";
                    el.style.backgroundImage = "url(" + currentFeature["properties"]["iconImage"] + ")";
                    el.style.backgroundRepeat = "no-repeat";
                    el.style.backgroundPosition = "center";
                    el.style.width = currentFeature["properties"]["iconSize"][0] + "px";
                    el.style.height = currentFeature["properties"]["iconSize"][1] + "px";
                    var marker = new mapboxgl.Marker(el).setLngLat(lngLat).setPopup(new mapboxgl.Popup({offset:25})
                                .setHTML('<h3>'+ name + '<a href="' + url + 
                                '" class="text-danger small" style="text-decoration:none;"> <small>(View More)</small></a></h3><p>Address: ' + 
                                address + '</p><p>Latitude: ' + lngLat[1] + 
                                '</p><p>Longitude: ' + lngLat[0] + '</p>')).addTo(map);
                    mapMarkers.push(marker);
                }
                return mapMarkers;
            }

            function toggleVisibilityOfMarkers(verify_status, flag, source){
                var visibleVerifiedKFC = map.getLayoutProperty("VerifiedKFCData", "visibility");
                var visibleVerifiedMcD = map.getLayoutProperty("VerifiedMcDData", "visibility");
                var visibleUnverifiedKFC = map.getLayoutProperty("UnverifiedKFCData", "visibility");
                var visibleUnverifiedMcD = map.getLayoutProperty("UnverifiedMcDData", "visibility");
                var featuresData = [];
                if(verify_status === "Verified"){
                    if(flag){
                        if(source === "KFC"){
                            if(visibleVerifiedMcD === "visible" || visibleUnverifiedKFC === "visible" || visibleUnverifiedMcD === "visible"){
                                map.setLayoutProperty("VerifiedMcDData", "visibility", "none");
                                map.setLayoutProperty("UnverifiedKFCData", "visibility", "none");
                                map.setLayoutProperty("UnverifiedMcDData", "visibility", "none");
                            }
                            if(visibleVerifiedKFC === "none"){
                                map.setLayoutProperty("VerifiedKFCData", "visibility", "visible");
                            }
                            Array.prototype.push.apply(featuresData, geoJSONVerifiedKFC["features"]);
                        }else{
                            if(visibleVerifiedKFC === "visible" || visibleUnverifiedKFC === "visible" || visibleUnverifiedMcD === "visible"){
                                map.setLayoutProperty("VerifiedKFCData", "visibility", "none");
                                map.setLayoutProperty("UnverifiedKFCData", "visibility", "none");
                                map.setLayoutProperty("UnverifiedMcDData", "visibility", "none");
                            }
                            if(visibleVerifiedMcD === "none"){
                                map.setLayoutProperty("VerifiedMcDData", "visibility", "visible");
                            }
                            Array.prototype.push.apply(featuresData, geoJSONVerifiedMcD["features"]);
                        }
                    }
                    else{
                        featuresData = geoJSONVerifiedKFC["features"].concat(geoJSONVerifiedMcD["features"]);
                        if(visibleUnverifiedKFC === "visible" || visibleUnverifiedMcD === "visible"){
                            map.setLayoutProperty("UnverifiedKFCData", "visibility", "none");
                            map.setLayoutProperty("UnverifiedMcDData", "visibility", "none");
                        }
                        if(visibleVerifiedKFC === "none" || visibleVerifiedMcD === "none"){
                            map.setLayoutProperty("VerifiedKFCData", "visibility", "visible");
                            map.setLayoutProperty("VerifiedMcDData", "visibility", "visible");
                        }
                    }
                }else{
                    if(flag){
                        if(source === "KFC"){
                            if(visibleVerifiedKFC === "visible" || visibleVerifiedMcD === "visible" || visibleUnverifiedMcD === "visible"){
                                map.setLayoutProperty("VerifiedKFCData", "visibility", "none");
                                map.setLayoutProperty("VerifiedMcDData", "visibility", "none");
                                map.setLayoutProperty("UnverifiedMcDData", "visibility", "none");
                            }
                            if(visibleUnverifiedKFC === "none"){
                                map.setLayoutProperty("UnverifiedKFCData", "visibility", "visible");
                            }
                            Array.prototype.push.apply(featuresData, geoJSONUnVerifiedKFC["features"]);
                        }else{
                            if(visibleVerifiedKFC === "visible" || visibleVerifiedMcD === "visible" || visibleUnverifiedKFC === "visible"){
                                map.setLayoutProperty("VerifiedKFCData", "visibility", "none");
                                map.setLayoutProperty("VerifiedKFCData", "visibility", "none");
                                map.setLayoutProperty("UnverifiedKFCData", "visibility", "none");
                            }
                            if(visibleUnverifiedMcD === "none"){
                                map.setLayoutProperty("UnverifiedMcDData", "visibility", "visible");
                            }
                            Array.prototype.push.apply(featuresData, geoJSONUnverifiedMcD["features"]);
                        }
                    }
                    else{
                        featuresData = geoJSONUnVerifiedKFC["features"].concat(geoJSONUnverifiedMcD["features"]);
                        if(visibleVerifiedKFC === "visible" || visibleVerifiedMcD === "visible"){
                            map.setLayoutProperty("VerifiedKFCData", "visibility", "none");
                            map.setLayoutProperty("VerifiedMcDData", "visibility", "none");
                        }
                        if(visibleUnverifiedKFC === "none" || visibleUnverifiedMcD === "none"){
                            map.setLayoutProperty("UnverifiedKFCData", "visibility", "visible");
                            map.setLayoutProperty("UnverifiedMcDData", "visibility", "visible");
                        }
                    }
                }
                return featuresData;
            }

            fetch('/StoreTinder/map_stores')
            .then(function(response){
                if(response.ok){
                    console.log('Fetching')
                    return response.json();
                }
                throw new Error('Failed to fetch');
            }).then(function(data){
                geoJSONDataset = data;
                if(geoJSONDataset["features"].length != 0){
                    geoJSONKFC =  createSpecificSourceOfData(geoJSONDataset["features"], "KFC", false, "");
                    geoJSONMcD = createSpecificSourceOfData(geoJSONDataset["features"], "McDonald", false, "");
                    geoJSONVerifiedKFC = createSpecificSourceOfData(geoJSONKFC["features"], "KFC", true, 1);
                    geoJSONUnVerifiedKFC = createSpecificSourceOfData(geoJSONKFC["features"], "KFC", true, 0);
                    geoJSONVerifiedMcD = createSpecificSourceOfData(geoJSONMcD["features"], "McDonald", true, 1);
                    geoJSONUnverifiedMcD = createSpecificSourceOfData(geoJSONMcD["features"], "McDonald", true, 0);

                    var geoJSONVerifiedData = geoJSONVerifiedKFC["features"].concat(geoJSONVerifiedMcD["features"]);
                    buildGeoJSONLocationList(geoJSONVerifiedData);
                    geoJSONDataset["features"] = geoJSONVerifiedData;
                        
                    map.addSource("KFCData", {
                        "type": "geojson",
                        "data": geoJSONKFC
                    });
                    map.loadImage('/static/StoreTinder/images/kfc.png', function(error, image){
                        if(error) throw error;
                        map.addImage("KFC", image);
                        map.addLayer({
                            "id": "VerifiedKFCData",
                            "type": "symbol",
                            "source": {
                                    "type": "geojson",
                                    "data": geoJSONVerifiedKFC
                            },
                            "layout": {
                                    "icon-image": "KFC",
                                    "icon-allow-overlap": true,
                                    "visibility": "visible",
                            }
                        });
                        map.addLayer({
                            "id": "UnverifiedKFCData",
                            "type": "symbol",
                            "source": {
                                    "type": "geojson",
                                    "data": geoJSONUnVerifiedKFC
                            },
                            "layout": {
                                    "icon-image": "KFC",
                                    "icon-allow-overlap": true,
                                    "visibility": "none",
                            }
                        });
                        
                    });

                    map.addSource( "McDonaldData",{
                        "type": "geojson",
                        "data": geoJSONMcD
                    });
                    map.loadImage('/static/StoreTinder/images/mcd.png', function(error, image){
                        if(error) throw error;
                        map.addImage("McDonald", image);
                        map.addLayer({
                                "id": "VerifiedMcDData",
                                "type": "symbol",
                                "source": {
                                        "type": "geojson",
                                        "data": geoJSONVerifiedMcD,
                                },
                                "layout": {
                                        "icon-image": "McDonald",
                                        "icon-allow-overlap": true,
                                        "visibility": "visible",
                                }
                        });
                        map.addLayer({
                                "id": "UnverifiedMcDData",
                                "type": "symbol",
                                "source": {
                                        "type": "geojson",
                                        "data": geoJSONUnverifiedMcD
                                },
                                "layout": {
                                        "icon-image": "McDonald",
                                        "icon-allow-overlap": true,
                                        "visibility": "none",
                                }
                        });
                    });
                }
                else{
                    var noDataPara = document.createElement('p');
                    var t = document.createTextNode("There is no available stores.");
                    noDataPara.appendChild(t);
                    noDataPara.style.padding = "10px";
                    listings.appendChild(noDataPara);
                }
            }).catch(function(error){
                console.log('There has been a problem with your fetch operation: ', error.message);
            });
 
            map.on('click', function(e){
                // Query all the rendered points in the view
                var features = map.queryRenderedFeatures(e.point, { layers: ["VerifiedKFCData", "VerifiedMcDData", "UnverifiedKFCData", "UnverifiedMcDData"] });
                if (features.length) {
                    var clickedPoint = features[0];
                    // 1. Fly to the point
                    flyToStore(clickedPoint);
                    // 2. Close all other popups and display popup for clicked store
                    createPopUp(clickedPoint);
                    // 3. Highlight listing in sidebar (and remove highlight for all other listings)
                    var activeLink = document.querySelector("#listings .active");
                    if(activeLink !== null){
                        activeLink.classList.remove("active");
                    }
                    // Find the index of the store.features that corresponds to the clickedPoint that fired the event listener
                    var selectedFeature = clickedPoint["properties"]["address"];

                    for (var i = 0; i < geoJSONDataset["features"].length; i++) {
                        if (geoJSONDataset["features"][i]["properties"]["address"] === selectedFeature) {
                            selectedFeatureIndex = i;
                        }
                    }
                    // Select the correct list item using the found index and add the active class
                    var listing = document.getElementById('listing-' + selectedFeatureIndex);
                    listing.classList.add('active');
                }
            });
    
            map.addControl(new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                localGeocoder: forwardGeocoder,
                zoom: 18,
                placeholder: "Enter search e.g. Bandar Baru Nilai"
            }));
    
            map.addControl(new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            }));

            buttonToggle.addEventListener('click', function(){
                map.setZoom(8);
                map.flyTo({center: centerLocation});
                clearListings();
                if(buttonToggle.innerHTML == "Verified"){
                    buttonToggle.innerHTML = "Unverified";
                    geoJSONDataset["features"] = toggleVisibilityOfMarkers("Unverified", false, "");
                    buildGeoJSONLocationList(geoJSONDataset["features"]);
                }
                else{
                    buttonToggle.innerHTML = "Verified";
                    geoJSONDataset["features"] = toggleVisibilityOfMarkers("Verified", false, "");
                    buildGeoJSONLocationList(geoJSONDataset["features"]);
                }
            });
        
            btnAll.addEventListener('click', function(){
                clearListings();

                if(buttonToggle.innerHTML == "Verified"){
                    geoJSONDataset["features"] = toggleVisibilityOfMarkers("Verified", false, "");
                    buildGeoJSONLocationList(geoJSONDataset["features"]);
                }else{
                    geoJSONDataset["features"] = toggleVisibilityOfMarkers("Unverified", false, "");
                    buildGeoJSONLocationList(geoJSONDataset["features"]);
                }
            });

            btnKFC.addEventListener('click', function(){
                clearListings();
                if(buttonToggle.innerHTML == "Verified"){
                    geoJSONDataset["features"] = toggleVisibilityOfMarkers("Verified", true, "KFC");
                    buildGeoJSONLocationList(geoJSONDataset["features"]);
                }else{
                    geoJSONDataset["features"] = toggleVisibilityOfMarkers("Unverified", true, "KFC");
                    buildGeoJSONLocationList(geoJSONDataset["features"]);
                }
            });

            btnMcD.addEventListener('click', function(){
                clearListings();
                if(buttonToggle.innerHTML == "Verified"){
                    geoJSONDataset["features"] = toggleVisibilityOfMarkers("Verified", true, "McDonald");
                    buildGeoJSONLocationList(geoJSONDataset["features"]);
                }else{
                    geoJSONDataset["features"] = toggleVisibilityOfMarkers("Unverified", true, "McDonald");
                    buildGeoJSONLocationList(geoJSONDataset["features"]);
                }
            });
            
        });
    </script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.2/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.2/mapbox-gl-geocoder.css' type='text/css' />
</body>

</html>
