<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <!-- Load Mapbox-gl JavaScript and CSS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'StoreTinder/style.css' %}">
    <title>Store information</title>
    <style>
        #coordinates {
            top: 5%;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-brand" href="/StoreTinder/">
                    <img src="{% static 'StoreTinder/images/tinder.png' %}" width="50" height="30" class="d-inline-block align-top" alt="">
                    <label class="label-padding">FastFood</label>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav nav-item">
                            <a class="nav-link" href="{% url 'StoreTinder:index' %}">
                                <i class="fa fa-home icon-space"></i>Home 
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav nav-item">
                            <a class="nav-link" href="{% url 'StoreTinder:create_store' %}">
                                <i class="fa fa-utensils icon-space"></i>Add Store
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-user icon-space"></i>Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid top-margin">
        <h1 class="text-primary text-center">
            <b class="text-danger">{{store.name}} store information</b>
        </h1>
        
        
        <div class="row">
            <div class="col-sm">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="name" value="{{store.name}}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="latitude" class="col-sm-2 col-form-label">Latitude:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" step="any" name="latitude" id="latitude" value="{{store.latitude}}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="longitude" class="col-sm-2 col-form-label">Longitude:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" step="any" name="longitude" id="longitude" value="{{store.longitude}}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-sm-2 col-form-label">Address:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="address" id="address" value="{{store.address}}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-sm-2 col-form-label">Source:</label>
                        <div class="col-sm-10">
                            <select name="source" id="source" class="form-control">
                                <option value="KFC">KFC</option>
                                <option value="McDonald">McDonald</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-2 col-form-label">Phone:</label>
                        <div class="col-sm-10">
                            <input type="tel" name="phone" class="form-control" id="phone" value="">
                            <div id="Invalid" class="display-none">Invalid phone format.</div>
                            <div id="Valid" class="display-none">Valid phone format.</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="weekdayopen" class="col-sm-2 col-form-label">Weekday open:</label>
                        <div class="col-sm-10">
                            <input type="time" class="form-control" name="weekdayopen" id="weekdayopen" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="weekdayclose" class="col-sm-2 col-form-label">Weekday close:</label>
                        <div class="col-sm-10">
                            <input type="time" class="form-control" name="weekdayclose" id="weekdayclose" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="weekendopen" class="col-sm-2 col-form-label">Weekend open:</label>
                        <div class="col-sm-10">
                            <input type="time" class="form-control" name="weekendopen" id="weekendopen" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="weekendclose" class="col-sm-2 col-form-label">Weekend close:</label>
                        <div class="col-sm-10">
                            <input type="time" class="form-control" name="weekendclose" id="weekendclose" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="created_at" class="col-sm-2 col-form-label">Created at:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="created_at" id="created_at" value="{{store.created_at}}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="updated_at" class="col-sm-2 col-form-label">Updated at:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="updated_at" id="updated_at" value="{{store.updated_at}}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="is_verified" class="col-sm-2 col-form-label">Verify status:</label>
                        <div class="col-sm-10">
                            <input type="text" name="verify_status" id="verify_status" value="{{store.is_verified}}" hidden>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="verified_status" id="verify" value="verify">
                                <label for="verify" class="form-check-label">Verify</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="verified_status" id="unverify" value="unverify">
                                <label for="unverify" class="form-check-label">Unverify</label>
                            </div>
                        </div>
                    </div>
                    <button id="btnSubmit" type="submit" class="btn btn-primary margin-left-bottom">Update</button>
                    <button id="btnReset" class="btn btn-primary margin-left-bottom bg-warning" type="button">Reset</button>
                    <a href="{% url 'StoreTinder:detail' store.id %}" class="btn btn-primary margin-left-bottom bg-danger">Cancel</a>
                    <!-- <button id="btnCancel" class="btn btn-primary margin-left">Cancel</button> -->
                    <div hidden>
                        <input type="text" id="store_source" value="{{store.source}}">
                        <input type="text" name="metadata" id="metadata" value="{{store.metadata}}">
                        <input type="number" name="id" id="id" value="{{store.id}}">
                    </div>
                </form>
            </div>
            <div class="col-sm">
                <p><b>Move the marker or click a point on the map to set the coordinate for the store:</b></p>
                <div id="map"></div>
                <pre id="coordinates" class="coordinates">Longitude: {{store.longitude}}<br />Latitude: {{store.latitude}}
                </pre>
            </div>
        </div>
 
        
    </div>   
    <script src="{% static 'StoreTinder/myjavascript.js' %}"></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2hlZWxpYW5nIiwiYSI6ImNqczlzaHo4dzEzZWQ0M29rZXJwbWExenUifQ.SoO2FnxyRgyVyJ0KX61FjA';
        var id = document.getElementById("id");
        var name = document.getElementById("name");
        var latitude = document.getElementById("latitude");
        var longitude = document.getElementById("longitude");
        var address = document.getElementById("address");
        var source = document.getElementById("source");
        var store_source = document.getElementById("store_source");
        var phone = document.getElementById("phone");
        var valid = document.getElementById("Valid");
        var invalid = document.getElementById("Invalid");
        var weekdayopen = document.getElementById("weekdayopen");
        var weekdayclose = document.getElementById("weekdayclose");
        var weekendopen = document.getElementById("weekendopen");
        var weekendclose = document.getElementById("weekendclose");
        var verifyStatus = document.getElementById("verify_status");
        var coordinates = document.getElementById("coordinates");

        function getReverseGeocode(lat, lng){
            var url = "https://api.mapbox.com/geocoding/v5/mapbox.places/" + lng + "," + lat + ".json?access_token=" + mapboxgl.accessToken;
            var place_name = "";
            fetch(url)
            .then(function(response){
                if(response.ok){
                    console.log('Fetching')
                    return response.json();
                }
                throw new Error('Failed to fetch');
            }).then(function(data){
                console.log(data["features"][0]["place_name"]);
                place_name = data["features"][0]["place_name"];
                address.value = place_name;
            }).catch(function(error){
                console.log('There has been a problem with your fetch operation: ', error.message);
            });
        }

        (function(){
            var kfcLocation = {lng: longitude.value, lat: latitude.value};
            var metadata = JSON.parse(document.getElementById("metadata").value);
            phone.value = metadata["phone"];
            weekdayopen.value = convertToTime(metadata["weekdayopen"]);
            weekdayclose.value = convertToTime(metadata["weekdayclose"]);
            weekendopen.value = convertToTime(metadata["weekendopen"]);
            weekendclose.value = convertToTime(metadata["weekendclose"]);
            var initialStoreValues = {'id': id.value, 'name': name.value, 'latitude': latitude.value, 'longitude': longitude.value,
            'address': address.value, 'source': store_source.value, 'metadata': metadata, 'phone': phone.value, 'is_verified': verifyStatus.value}
            source.value = store_source.value;
            if(setCheckedRadioButton(verifyStatus.value)){
                document.getElementById("verify").checked = true;
            }else{
                document.getElementById("unverify").checked = true;
            }

            var btnReset = document.getElementById("btnReset");

            var map = new mapboxgl.Map({
                container: 'map', //container id
                style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
                center: kfcLocation, //starting position [lng, lat]
                zoom: 18 //starting zoom
            });

            var marker = "";
            map.on('load', function(){
                marker = new mapboxgl.Marker({ draggable: true }).setLngLat(kfcLocation).addTo(map);

                marker.on('dragend', function(){
                    var lngLat = marker.getLngLat();
                    coordinates.innerHTML = "Longitude: " + lngLat.lng + "<br />Latitude: " + lngLat.lat;
                    latitude.value = lngLat.lat;
                    longitude.value = lngLat.lng;
                    getReverseGeocode(lngLat.lat, lngLat.lng);
                });

                map.on('click', function(e){
                    var newLocation = [e.lngLat["lng"], e.lngLat["lat"]];
                    marker.setLngLat(newLocation);
                    latitude.value = e.lngLat.lat;
                    longitude.value = e.lngLat.lng;
                    coordinates.innerHTML = "Longitude: " + e.lngLat.lng + "<br />Latitude: " + e.lngLat.lat;
                    getReverseGeocode(e.lngLat.lat, e.lngLat.lng);
                })
            });

            btnReset.addEventListener("click", function(){
                name.value = initialStoreValues["name"];
                latitude.value = initialStoreValues["latitude"];
                longitude.value = initialStoreValues["longitude"];
                address.value = initialStoreValues["address"];
                source.value = initialStoreValues["source"];
                phone.value = initialStoreValues["phone"];
                weekdayopen.value = convertToTime(initialStoreValues["metadata"]["weekdayopen"]);
                weekdayclose.value = convertToTime(initialStoreValues["metadata"]["weekdayclose"]);
                weekendopen.value = convertToTime(initialStoreValues["metadata"]["weekendopen"]);
                weekendclose.value = convertToTime(initialStoreValues["metadata"]["weekendclose"]);
                if(setCheckedRadioButton(verifyStatus.value)){
                    document.getElementById("verify").checked = true;
                }else{
                    document.getElementById("unverify").checked = true;
                }
                var originalLatLng = [initialStoreValues["longitude"], initialStoreValues["latitude"]];
                marker.setLngLat(originalLatLng);
                if(!valid.classList.contains("display-none")){
                    valid.classList.add("display-none");
                }else{
                    invalid.classList.add("display-none");
                }
            });

            phone.addEventListener("change", function(){
                if(!valid.classList.contains("display-none")){
                    valid.classList.add("display-none");
                }else{
                    invalid.classList.add("display-none");
                }

                if(validatePhoneFormat(phone.value)){
                    valid.classList.remove("display-none");
                    valid.classList.add("text-success");
                }else{
                    phone.value = "";
                    phone.focus();
                    invalid.classList.remove("display-none");
                    invalid.classList.add("text-danger");
                }
            });
        })();
    </script>
</body>

</html>