
.top-margin {
    margin-top: 50px;
}

.bottom-margin {
    margin-bottom: 10px;
}

/* table.grey-white-row tr:nth-child(even) {
    background-color: #eee;
}

table.grey-white-row tr:nth-child(odd) {
    background-color: #fff;
} */

body { margin: 0; padding: 0; }
#map { width: 100%; height: 500px; }

h1.color-heading {
    color: #FF4500;
}

.bg-image {
    background-image: url("images/KFC-Logo-Wallpaper.jpg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

table > caption {
    color: rgb(5, 5, 5);
}

.grey-background {
    background-color: #eee;
}

body {font-family: Arial, Helvetica, sans-serif;}

.current-active {
    background-color: #4CAF50;
}

.icon-space {
    padding-right: 5px;
}



